@import url();
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url(img/thumb-1920-505151.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 20px;
  height: 19px;
  margin: 7px;
  position: relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background-color: white;
  left: 50%;
  top: -400%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 12px;
  height: 12px;
  margin: -6px 0px 0px -6px;
  background-color: white;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -470%;
  color: white;
  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide {
  height: auto !important;
}
#hero .hero {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 8rem;
  position: relative;
  color: transparent;
  animation: reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation: reveal_name 0.5s ease forwards;
  animation-delay: 3.5s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  animation: textreveal 1s ease;
  animation-delay: 1s;
}
#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}
#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  transition: 0.3s ease;
  transition-property: background-color, color, border-color;
}
#hero .cta:hover {
  background-color: transparent;
  color: white;
  border-color: white;
  transform: scale(1.5);
  transition: all ease-out 0.5s;
}
#about .container {
  flex-direction: column;
  justify-content: flex-start;
}
#about .container .title h3 {
  text-align: right;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 35px 0;
  text-shadow: -6px -6px white;
  animation: move2 3s infinite;
}
#about .container .row {
  padding: 40px 40px;
}
#about .container .row .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about .container .main h2 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}
#about .container .main p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  color: white;
}
#about .container .picture .profile-picture {
  height: 70vh;
  background-image: url(./img/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50px;
  z-index: -1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
/* #about .container .picture .profile-picture::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50px;
  opacity: 0.5;
  z-index: -1;
} */

#about .container .picture .icon {
  margin-top: 20px;
}
#about .container .picture .icon i {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}
#about .container .picture .icon i:hover:nth-child(1) {
  color: crimson;
  cursor: pointer;
  transition: all linear 0.3s;
}
#about .container .picture .icon i:hover:nth-child(2) {
  color: lightblue;
  cursor: pointer;
  transition: all linear 0.3s;
}
#about .container .picture .icon i:hover:nth-child(3) {
  color: lightgreen;
  cursor: pointer;
  transition: all linear 0.3s;
}
#about .cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border-radius: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  transition: 0.3s ease;
  transition-property: background-color, color, border-color;
}
#about .cta:hover {
  transform: scale(1.3);
  background-position: right center;
  transition: all 0.7s;
}
#learn .container .tagcloud {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 800;
  height: 100%;
  padding-left: 20px;
}
#learn .container .tagcloud:hover {
  transform: scale(1.3);
  transition: all ease 0.3s;
}
#learn .container {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
}
#learn .container .title h3 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 40px;
  text-shadow: -6px -6px white;
  animation: move2 3s infinite;
}
#learn .container .row {
  padding: 100px 40px;
}
#learn .container .left {
  padding-top: 100px;
}
#learn .container .left h2 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
#learn .container .left p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  color: white;
}
.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
#work .container {
  flex-direction: column;
  justify-content: flex-start;
}
#work .container .title h3 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 40px;
  text-shadow: -6px -6px white;
  animation: move2 3s infinite;
}
#work .container .title h2 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-top: 50px;
  font-style: italic;
  text-align: center;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-color: white;
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.swiper-slide:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}
.swiper-slide:nth-child(1) .top {
  height: 75%;
  background-image: url(./img/Screenshot\ 2022-06-07\ 222307.png);
  background-size: cover;
  background-position: top center;
}
.swiper-slide .bot {
  height: 25%;
}
.swiper-slide:nth-child(2) .top {
  height: 75%;
  background-image: url(/img/Screenshot\ 2022-06-07\ 224121.png);
  background-size: cover;
  background-position: top center;
}

.swiper-slide:nth-child(3) .top {
  height: 75%;
  background-image: url(./img/Screenshot\ 2022-06-07\ 225537.png);
  background-size: cover;
  background-position: top center;
}
.swiper-slide .bot .left .button{
  display: inline-block;
  margin-left: 25%;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  background-color: transparent;
  background-size: 200%;
  transition: all 0.3s;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
  transition: 0.3s ease;
  transition-property: background-color, color, border-color;
}
.swiper-slide:nth-child(1) .bot .left .button{
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  color: white;
}
.swiper-slide:nth-child(2) .bot .left .button{
  background: linear-gradient(45deg, rgb(56, 46, 46) 0%, #16a052 100%);
  color: white;
}
.swiper-slide:nth-child(3) .bot .left .button{
  background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  color: white;
}
.swiper-slide .bot .left .button:hover{
  transform: scale(1.2);
  transition: all 0.3s;
}
.swiper-slide .bot .left h4{
  font-size: 3.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
.swiper-slide:nth-child(1) .bot .left h4{
  background: -webkit-linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-slide:nth-child(2) .bot .left h4{
  background: -webkit-linear-gradient(45deg, rgb(56, 46, 46) 0%, #16a052 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.swiper-slide:nth-child(3) .bot .left h4{
  background: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-slide .bot .right p{
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 10px;
  color: darkgrey;
}
.swiper-slide .bot .right i{
  font-size: 2rem;
  margin-right: 20px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
#contact .container {
  flex-direction: column;
  justify-content: space-around;
  padding-top: 35px;
}
#contact .container .row .main {
  width: 550px;
}
#contact .container .row .social {
  width: 550px;
}
#contact .container .title h3 {
  text-align: right;
  text-shadow: 5px 5px #0d6fb5;
  margin-bottom: 60px;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -6px -6px white;
  animation: move2 3s infinite;
}
#contact .container .row .main h2 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;

  font-style: italic;
  text-align: center;
}
#contact .container .row .main p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 5  0px;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  color: white;
  text-align: center;
}
#contact .container .row .main ul {
  padding-left: 20px;
}
#contact .container .row .main ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  text-align: left;
}
#contact .container .row .main ul li i {
  font-size: 2rem;
  color: white;
  margin-right: 15px;
}

#contact .container .row .main ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}
#contact .container .row .social h2 {
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;

  font-style: italic;
  text-align: center;
}
#contact .container .row .social p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  color: white;
  text-align: center;
}
#contact .container .row .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
#contact .container .row .logo a i {
  font-size: 4.5rem;
  color: white;
}
#contact .container .row .logo a:nth-child(2) i:hover {
  color: #0077b5;
  transform: scale(1.5);
  transition: all ease 0.2;
}
#contact .container .row .logo a:nth-child(4) i:hover {
  color: #4267b2;
  transform: scale(1.5);
  transition: all ease 0.2;
}
#contact .container .row .logo a:nth-child(3) i:hover {
  background: -webkit-linear-gradient(
    #f55f8d 0,
    #f8ae56 25%,
    #f55f8d 75%,
    #f8ae56 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
  transition: all ease 0.2;
}
#contact .container .row .logo a:nth-child(1) i:hover {
  transform: scale(1.5);
  transition: all ease 0.2;
}
#contact .container .bot {
  margin-top: 60px;
}
#contact .container .bot p {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 600;
  border-top: 1px solid white;
}
#contact .container .bot i {
  margin-right: 5px;
}
#contact .container .bot span {
  background: -webkit-linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fp-watermark {
  display: none;
}
@keyframes textreveal {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes reveal {
  100% {
    color: white;
  }
}
@keyframes reveal_name {
  100% {
    font-style: italic;
    font-size: 12rem;
    background: -webkit-linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(6deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(6deg) translate(2px, 2px);
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}

